<div class="contenido">
    <div class="card">
       <p-toolbar styleClass="mb-4">
          <ng-template pTemplate="left">
             <strong>  USUARIOS</strong>
          </ng-template>
          <ng-template pTemplate="right">
             <button pButton pRipple label="Nuevo" icon="pi pi-pencil" class="p-button mr-2" pTooltip="Crear nuevo usuario" (click)="nuevoUsuario()" > <!--"-->
             </button>
          </ng-template>
       </p-toolbar>
       <p-table #dt  [value]="lstUsuarios" [rows]="10" [showCurrentPageReport]="true" [responsive]="true"
          [rowsPerPageOptions]="[10,15,20]"  [paginator]="true" [rowHover]="true"
          currentPageReportTemplate="Mostrando {first} hasta {last} de {totalRecords} registros"
          [globalFilterFields]="['c_cedulausuario','c_primerapellido','c_primerapellido']">
          <ng-template pTemplate="caption">
             <div class="card">
                <div class="flex justify-content-between flex-wrap card-container">
                   <div>{{'lista' | titlecase}}</div>
                   <span class="p-input-icon-left">
                      <i class="pi pi-search"></i>
                      <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar..." />
                   </span>
                </div>
             </div>
          </ng-template>
          <ng-template pTemplate="header">
             <tr>
                <th style="width:10em" pSortableColumn="c_cedulausuario" pResizableColumn>Cédula
                   <p-sortIcon field="c_cedulausuario"></p-sortIcon>
                </th>
                <th pSortableColumn="c_primerapellido" pResizableColumn>Apellidos
                   <p-sortIcon field="c_primerapellido"> </p-sortIcon>
                </th>
                <th pSortableColumn="c_srnombreusuario" pResizableColumn> Nombres
                   <p-sortIcon field="c_srnombreusuario"></p-sortIcon>
                </th>
                <th pSortableColumn="c_correo" pResizableColumn> Email
                   <p-sortIcon field="c_correo"></p-sortIcon>
                </th>
                <th pSortableColumn="c_estado" pResizableColumn> Estado
                   <p-sortIcon field="c_estado"></p-sortIcon>
                </th>
                <th> Acciones
                </th>
             </tr>
          </ng-template>
          <ng-template pTemplate="body" let-ser>
             <tr>
                <td>
                   <a class="no-underline" >{{ser.c_cedulausuario}}</a>
                </td>
                <td> {{ser.c_primerapellido}} </td>
                <td> {{ser.c_nombreusuario }} </td>
                <td> {{ser.c_correo}} </td>
                <td> <span [class]="'product-badge status-' + ser.c_estado" *ngIf="ser.c_estado==true; else inactivo">Activo</span>
                   <ng-template #inactivo>
                       <span [class]="'product-badge status-' + ser.c_estado">Inactivo</span>
                   </ng-template></td>
                <td>
                   <button pRipple pButton icon="pi pi-eye" class="p-button-rounded p-button-info mr-2"
                      pTooltip="Ver Perfiles" tooltipPosition="left"  (click)="gestionPerfiles(ser)" ><!--(click)="editarUsuario(ser)"-->
                   </button>
                   <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger "  pTooltip="Desactivar usuario" (click)="desactivar(ser)"></button><!--(click)="eliminarUsuario(ser)" -->
                </td>
             </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
             <tr>
                <td colspan="6">No se obtuvo registros con el dato buscado</td>
             </tr>
          </ng-template>
       </p-table>
 
       </div>
       </div>

       <p-dialog [(visible)]="usuarioDialog" [style]="{width: '50em'}" header="Usuarios" [modal]="true" styleClass="p-fluid">
        <ng-template pTemplate="content">
           <p-panel header="Usuario">
              <div class="grid p-fluid">
                 <div class="col-10 md:col-2">
                    <label for="name">Cédula</label>
                </div>
                 <div class="col-10 md:col-8">
                    <input type="text" pInputText id="name" [(ngModel)]="txtcedula"  required autofocus />
                    <small class="p-invalid" *ngIf="submitted && !txtnombres">cédula es requerida.</small>
                </div>
                <div class="col-2 md:col-2 flex flex-wrap-reverse">
                 <button pButton type="button" icon="pi pi-search" iconPos="bottom" class="p-button-text p-button-text" (click)=" buscarUsuario()"></button> <!--"-->
               </div>    
             </div>
           <div class="grid p-fluid">
              <div class="col-6 md:col-6">
                 <label for="description">Nombres</label>
                 <input type="text" pInputText id="name" [disabled]="disabled" [(ngModel)]="txtnombres"   />txtnombres
             </div>
             <div class="col-6 md:col-6">
               <label for="description">Apellidos</label>
               <input type="text" pInputText id="name" [disabled]="disabled" [(ngModel)]="txtapellido1"   />
           </div>
           <div class="col-12 md:col-12">
            <label for="description">Email</label>
            <input type="text" pInputText id="name" [disabled]="disabled" [(ngModel)]="txtcorreo"  />
           </div>
             
            </div>
          </p-panel>
          <p-panel header="Roles">
           <div class="p-formgrid p-grid">
             
            <div class="p-field">
               <label class="p-mb-3">Roles</label>
               <div class="p-formgrid p-grid">
                   <p-dropdown  appendTo="body" [(ngModel)]="txtRol" [options]="roles"  optionLabel="strnombre" optionValue="strnombre" placeholder="Seleccione un rol" (ngModelChange)="getIdRol($event)"></p-dropdown>
               </div>
           </div>
           
             </div>
        </p-panel>
       
       
          
           
        </ng-template>
        
        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="usuarioDialog=false"></button>
            <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="guardarUsuario()" ></button><!--(click)="guardarUsuario()"-->
        </ng-template>
    </p-dialog>


    <p-dialog [(visible)]="desactivarDialog" [style]="{width: '30em'}" header="Desactivar Usuario" [modal]="true" styleClass="p-fluid">
            <label >{{titulo}}</label>

            

            <ng-template pTemplate="footer">
               <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="desactivarDialog=false"></button>
               <button pButton pRipple label="Desactivar" icon="pi pi-trash" class="p-button-text" (click)="desactivarUsuario()"  ></button>
            </ng-template>
   
   </p-dialog>


   <p-dialog [(visible)]="perfilesDialog" [style]="{width: '21em'}" header={{titulo}} [modal]="true" styleClass="p-fluid">
      
      <div class="checkbox-container">
         <label for="adminCheckbox">Administrador </label>
         <input type="checkbox" [(ngModel)]="blnAdministrador"  (click)="perfilAdmin('Administrador')" >
     </div>

     <div class="checkbox-container">
      <label for="adminCheckbox">Analista Vinculación</label>
      <input type="checkbox" [(ngModel)]="blnAnalista" (click)="perfilAdmin('Analista')">
      </div>

      <div class="checkbox-container">
         <label for="adminCheckbox">Coordinador</label>
         <input type="checkbox" [(ngModel)]="blnCoordinador" (click)="perfilAdmin('Coordinador')">
     </div>

     <div class="checkbox-container">
      <label for="adminCheckbox">Auditoria</label>
      <input type="checkbox" [(ngModel)]="blnAuditoria" (click)="perfilAdmin('Auditoria')">
  </div>

     
     
     
    
      
      
      

      <ng-template pTemplate="footer">
         <button pButton pRipple label="Salir" icon="pi pi-times" class="p-button-text" (click)="reiniciarControl()"></button>
         
      </ng-template>

</p-dialog>


   
       
     