.container {
    /* background-color: bisque; */
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .profile-content {
    display: flex;
    justify-content: center;
  }
  
  img {
    height: 30px;
    width: 30px;
  
    border: 1px solid #555;
    border-radius: 16px;
    padding: 5px;
    /* margin: 0 14px 0 12px; */
    background: #ececec;
  }
  .body {
    display: grid;
    grid-template-columns: 1fr 7fr;
    transition: all 0.5s linear;
  
    /* background-color: blueviolet; */
  }
  
  .body-close {
    display: grid;
    grid-template-columns: 56px 10fr;
    transition: all 0.5s linear;
  
    /* background-color: blueviolet; */
  }
  
  .sidebar {
    height: 80vh;
    /* background-color: aquamarine; */
    overflow-y: scroll;
    padding-left: 20px;
  }
  
  .main {
    height: 80vh;
    /* overflow-y: scroll; */
  }
  
  .container-slider::-webkit-scrollbar {
    width: 8px; /* Tamaño del scroll en vertical */
    height: 8px; /* Tamaño del scroll en horizontal */
    /*display: none;  Ocultar scroll */
  }
  
  .container-slider::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
  }
  
  /* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
  .container-slider::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  
  /* Cambiamos el fondo cuando esté en active */
  .container-slider::-webkit-scrollbar-thumb:active {
    background-color: #999999;
  }
  
  .container-slider::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
  }
  
  /* Cambiamos el fondo cuando esté en active o hover */
  .container-slider::-webkit-scrollbar-track:hover,
  .container-slider::-webkit-scrollbar-track:active {
    background: #d4d4d4;
  }
  