<p-toast></p-toast>
<p-dialog [(visible)]="modalOpcion" header="{{tituloModal}}" [modal]="true" styleClass="p-fluid" position="top" [style]="{width: '50vw'}">
    <ng-template pTemplate="content">
        <div class="grid p-fluid">
            <div class="col-12 md:col-2">
                <label for="name" class="col-sm-3 col-form-label">Rol:</label>
                <input type="hidden" [(ngModel)]="txtRolA">
            </div>
            <div class="col-12 md:col-10">
                <p-dropdown  appendTo="body" [options]="listaroles" [(ngModel)]="txtRol" optionLabel="rol_nombre" optionValue="rol_id"></p-dropdown>
          </div>
        </div> 
        <div class="grid p-fluid">
            <div class="col-12 md:col-2">
                <label for="name" class="col-sm-3 col-form-label">Menú Principal:</label>
                <input type="hidden" [(ngModel)]="txtOpPadreA">
            </div>
            <div class="col-12 md:col-10">
                <p-dropdown  appendTo="body" [options]="listaopcionespadre" [(ngModel)]="txtOpPadre" optionLabel="opc_nombre" optionValue="opc_id"></p-dropdown>
          </div>
        </div> 
        <div class="grid p-fluid">
            <div class="col-12 md:col-2">
                <label for="name" class="col-sm-3 col-form-label">SubMenú:</label>
                <input type="hidden" [(ngModel)]="txtOpHijoA">
            </div>
            <div class="col-12 md:col-10">
                <p-dropdown  appendTo="body" [options]="listaopcioneshijos" [(ngModel)]="txtOpHijo" optionLabel="opc_nombre" optionValue="opc_id"></p-dropdown>
          </div>
        </div>
        <div class="grid p-fluid">
            <div class="col-12 md:col-2">
                <label for="name" class="col-sm-3 col-form-label">Orden:</label>
            </div>
            <div class="col-12 md:col-10">
                <input type="text" pInputText class="form-control" required name="txtUrl" [(ngModel)]="txtOrden" placeholder="Orden">
          </div>
        </div>
        <div class="grid p-fluid">
            <div class="col-12 md:col-2">
                <label for="name" class="col-sm-3 col-form-label">Permisos:</label>
            </div>
            <div class="col-12 md:col-10">
                <div class="formgroup-inline">
                    <div class="field-checkbox">
                        <p-checkbox name="groupname" [binary]="true" [(ngModel)]="txtInsertar" label="Insertar"></p-checkbox>
                    </div>
                    <div class="field-checkbox">
                        <p-checkbox name="groupname" [binary]="true" [(ngModel)]="txtModificar" label="Modificar"></p-checkbox>
                    </div>
                    <div class="field-checkbox">
                        <p-checkbox name="groupname" [binary]="true" [(ngModel)]="txtEliminar" label="Eliminar"></p-checkbox>
                    </div>
                </div>
            </div>
        </div> 
        <div class="grid p-fluid" *ngIf="txtCodigo>0">
            <div class="col-12 md:col-2">
                <label for="name" class="col-sm-3 col-form-label">Estado:</label>
            </div>
            <div class="col-12 md:col-10">
                <p-dropdown  appendTo="body" [options]="estados" [(ngModel)]="txtEstado" optionLabel="label" optionValue="value"></p-dropdown>
            </div>
          </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="modalOpcion=false"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="guardarPadreOp()"></button>
    </ng-template>
  </p-dialog>
<div class="card">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
           <strong>ASIGNACIÓN MENÚ - ROL</strong>
        </ng-template>
        <ng-template pTemplate="right">
           <button pButton pRipple label="Nuevo" icon="pi pi-pencil" class="p-button mr-2" pTooltip="Crear menú general" (click)="nuevoOpcion()">
           </button>
        </ng-template>
     </p-toolbar>
    <p-table #dt [value]="listaopcionesmenu" [rows]="10" [paginator]="true" [globalFilterFields]="['rol_nombre','rol_descripcion', 'nomPadre', 'desPadre', 'opc_nombre', 'opc_descripcion', 'opc_metodo', 'opc_url', 'opc_icono']" styleClass="p-datatable-gridlines p-datatable-sm"
         [rowHover]="true" dataKey="id" [loading]="loading" [rowsPerPageOptions]="[10,25,50]" responsiveLayout="scroll" [responsive]="true"
        currentPageReportTemplate="Mostrando {first} hasta {last} de {totalRecords} registros" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="card">
               <div class="flex justify-content-between flex-wrap card-container">
                  <div>{{'listado' | titlecase}}</div>
                  <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                     <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar..." />
                  </span>
               </div>
            </div>
         </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="rol_nombre" class="text-center">Rol<p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="nomPadre" class="text-center">Menú<p-sortIcon field="category"></p-sortIcon></th>
                <th pSortableColumn="opc_nombre" class="text-center">SubMenú<p-sortIcon field="category"></p-sortIcon></th>
                <th pSortableColumn="rolop_insertar" class="text-center">Insertar<p-sortIcon field="category"></p-sortIcon></th>
                <th pSortableColumn="rolop_modificar" class="text-center">Modificar<p-sortIcon field="category"></p-sortIcon></th>
                <th pSortableColumn="rolop_eliminar" class="text-center">Eliminar<p-sortIcon field="category"></p-sortIcon></th>
                <th pSortableColumn="rolop_orden" class="text-center">Orden<p-sortIcon field="category"></p-sortIcon></th>
                <th class="text-center">Estado</th>
                <th class="text-center">Acción</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rolop>
            <tr>
                <td>{{rolop.rol_nombre}}</td>
                <td>{{rolop.nomPadre}}</td>
                <td>{{rolop.opc_nombre}}</td>
                <td class="text-center">
                    <i *ngIf="rolop.rolop_insertar==1" class="pi pi-check"></i>
                    <i *ngIf="rolop.rolop_insertar==0" class="pi pi-times"></i>
                </td>
                <td class="text-center">
                    <i *ngIf="rolop.rolop_modificar==1" class="pi pi-check"></i>
                    <i *ngIf="rolop.rolop_modificar==0" class="pi pi-times"></i>
                </td>                
                <td class="text-center">
                    <i *ngIf="rolop.rolop_eliminar==1" class="pi pi-check"></i>
                    <i *ngIf="rolop.rolop_eliminar==0" class="pi pi-times"></i>
                </td>  
                <td class="text-center">{{rolop.rolop_orden}}</td>              
                <td class="text-center">
                    <span [class]="'product-badge status-' + rolop.rolop_estado" *ngIf="rolop.rolop_estado==1; else inactivo">Activo</span>
                    <ng-template #inactivo>
                        <span [class]="'product-badge status-' + rolop.rolop_estado">Inactivo</span>
                    </ng-template>
                </td>
                <td class="text-center">
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded mr-2" (click)="editarOpcion(rolop)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="7">No se encontrarón registros.</td>
            </tr>
        </ng-template>
    </p-table>
</div>