
<div>
    <div>
      <div class="container-carga">
        <div class="fil"></div>
  
        <div class="hero__content">
          <img
            class="hero__img--1"
            src="https://oficina.espoch.edu.ec/dtic/images/1.jpg"
            alt="hero image"
          />
          <img
            class="hero__img--2"
            src="https://oficina.espoch.edu.ec/dtic/images/2.jpg"
            alt="hero image"
          />
        </div>
  
        <div class="container-real">
          <div class="contenedor-blur efecto-blur">
            <div class="d-flex align-items-center" style="width: auto">
              <img
                src="https://oficina.espoch.edu.ec/dtic/images/icons/logo_espoch.png"
                alt="logo_espoch"
              />
            </div>
             
            <div id="contenedor-boton-login" >
              <a routerLink="/PgInvitado" class="button btn-home" ><!--routerLink="/PgCas"-->
                Invitado
              </a>
            </div>
            <div id="contenedor-boton-login">
              <a  (click)="IniciarIngreso()" class="button btn-home" ><!--routerLink="/PgCas"-->
                Iniciar
              </a>
            </div>
          </div>
  
  
  
          <div class="row">
            <div class="case-1">
  
              <p>DIRECCIÓN DE VINCULACIÓN <br /></p>
  
            </div>
          </div>
  
          <div class="container-footer">
            <div class="footer">
              <p>Escuela Superior Politécnica de Chimborazo © 2022</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  