<app-pg-header></app-pg-header>
<app-pg-linea></app-pg-linea>
<div class="caja2">
    <br><br>
    <img src="../../../assets/imagenes/yankay.png" style="height: 160px; width:400px;">
</div><br><br><br><br><br><br>

<section class = "flex-container" >
  <div *ngFor="let perliesusuarios of Perfil">
    <div class ="caja">
      <h3 style="cursor: pointer;">{{perliesusuarios.strnombre}}</h3>
      <div  class="rol" *ngIf="perliesusuarios.introl_id==3" ><a   routerLink="/PgAdminConveniosCoordComponent"  class="button hover rounded" title="Página Principal Coordinador">
          <div class="icono-svg">
            <ng-container >

                <img  src="../../../assets/imagenes/Convenio.png" class="icono">

            </ng-container>
            <div  class="text"> <b>Convenios</b> </div>
          </div>
        </a></div>
        <div  class="rol" *ngIf="perliesusuarios.introl_id==2" ><a   routerLink="/PgConveniosComponent"  class="button hover rounded" title="Página Principal Coordinador">
          <div class="icono-svg">
            <ng-container >

                <img  src="../../../assets/imagenes/Convenio.png" class="icono">

            </ng-container>
            <div  class="text"> <b>Convenios</b> </div>
          </div>

        </a>
        
        <div  class="rol"><a routerLink="/PgSeguimiento" class="button hover rounded" title="Página Seguimiento Coordinador">
          <div class="icono-svg">
            <ng-container >

                <img  src="../../../assets/imagenes/seguimiento.png" class="icono">

            </ng-container>
            <div  class="text"> <b>Seguimiento</b> </div>
          </div>
        </a></div>

        <div  class="rol"><a routerLink="/PgGraficas" class="button hover rounded" title="Página Seguimiento Coordinador">
          <div class="icono-svg">
            <ng-container >

                <img  src="../../../assets/imagenes/graficos.png" class="icono">

            </ng-container>
            <div  class="text"> <b>Gráficos</b> </div>
          </div>
        </a></div>

      </div>

        <div  class="rol" *ngIf="perliesusuarios.introl_id==4" ><a   routerLink="/PgAuditoria"  class="button hover rounded" title="Página Principal Coordinador">
          <div class="icono-svg">
            <ng-container >

                <img  src="../../../assets/imagenes/Convenio.png" class="icono">

            </ng-container>
            <div  class="text"> <b>Convenios</b> </div>
          </div>
        </a></div>

        

        <div  class="rol" *ngIf="perliesusuarios.introl_id==1" ><a   routerLink="/AppSeguridadComponent"  class="button hover rounded" title="Página Principal Coordinador">
          <div class="icono-svg">
            <ng-container >

                <img  src="../../../assets/imagenes/Convenio.png" class="icono">

            </ng-container>
            <div  class="text"> <b>Seguridad</b> </div>
          </div>
        </a></div>

       
  </div>


  </div>




    

</section>

<app-pg-footer></app-pg-footer>
