<app-pg-header></app-pg-header>
<app-pg-linea></app-pg-linea>
<div class="caja2">
    <br><br>
    <img src="../../../assets/imagenes/yankay.png" style="height: 160px; width:400px;">
</div><br><br><br><br><br><br>

<section class = "flex-container" >
    <div class ="caja"></div>
    <div class ="caja">
        <h3 style="cursor: pointer;">Analista Vinculación</h3>

        <div  class="rol"><a routerLink="/PgConveniosComponent"  class="button hover rounded" title="Página Principal Analista">
            <div class="icono-svg">
              <ng-container >

                  <img  src="../../../assets/imagenes/Convenio.png" class="icono">

              </ng-container>
              <div  class="text"><b>Convenios</b>  </div>
            </div>
          </a></div>

          <div  class="rol"><a class="button hover rounded" title="Página Seguimiento Analista">
            <div class="icono-svg">
              <ng-container >

                  <img  src="../../../assets/imagenes/seguimiento.png" class="icono">

              </ng-container>
              <div  class="text"> <b>Seguimiento</b> </div>
            </div>
          </a></div>

          <div  class="rol"><a class="button hover rounded" title="Página Gráficas Analista">
            <div class="icono-svg">
              <ng-container >

                  <img  src="../../../assets/imagenes/graficos.png" class="icono">

              </ng-container>
              <div  class="text"> <b>Gráficos</b> </div>
            </div>
          </a></div>







    </div>


    <div class ="caja">

        <h3 style="cursor: pointer;">Coordinador</h3>
        <div  class="rol"><a   routerLink="/PgAdminConveniosCoordComponent"  class="button hover rounded" title="Página Principal Coordinador">
            <div class="icono-svg">
              <ng-container >

                  <img  src="../../../assets/imagenes/Convenio.png" class="icono">

              </ng-container>
              <div  class="text"> <b>Convenios</b> </div>
            </div>
          </a></div>

          <div  class="rol"><a  class="button hover rounded" title="Página Seguimiento Coordinador">
            <div class="icono-svg">
              <ng-container >

                  <img  src="../../../assets/imagenes/seguimiento.png" class="icono">

              </ng-container>
              <div  class="text"> <b>Seguimiento</b> </div>
            </div>
          </a></div>
    </div>
    <div class ="caja">
        <h3 style="cursor: pointer;">Auditoria</h3>
        <div  class="rol"><a class="button hover rounded" title="Página Principal Auditoria">
            <div class="icono-svg">
              <ng-container >

                  <img  src="../../../assets/imagenes/Convenio.png" class="icono">

              </ng-container>
              <div  class="text"> <b>Convenios</b> </div>
            </div>
          </a></div>
    </div>
    <div class ="caja">
        <h3 style="cursor: pointer;">Invitado</h3>
        <div  class="rol"><a routerLink="/PgConveniosInvitado"  class="button hover rounded" title="Página Principal Invitado">
            <div class="icono-svg">
              <ng-container >

                  <img  src="../../../assets/imagenes/Convenio.png" class="icono">

              </ng-container>
              <div  class="text"> <b>Convenios</b> </div>
            </div>
          </a></div>

    </div>

    <div class ="caja">
      <h3 style="cursor: pointer;">Administración</h3>
      <div  class="rol"><a routerLink="/AppSeguridadComponent"    class="button hover rounded" title="Página Principal Invitado">
          <div class="icono-svg">
            <ng-container >

                <img  src="../../../assets/imagenes/Convenio.png" class="icono">

            </ng-container>
            <div  class="text"> <b>Módulo Seguridad</b> </div>
          </div>
        </a></div>

  </div>


    <div class ="caja"></div>

</section>

<app-pg-footer></app-pg-footer>
