<!-- 
<div class="slider">
    <p-panelMenu [model]=" this.items" [style]="{'width':'250px'}"></p-panelMenu>
</div> -->


<div class="sidebar close">
    <ul class="nav-links">

        <li>
            <div class="profile-details">
                <div class="profile-content">
                    <img [src]="imgToggle" alt="profile" (click)="toggleSideBar()">
                </div>
            </div>
        </li>

        <!--  MENU PRINCIPAL -->
        <li>
            <a (click)="redirectHome()">
                <i class="pi pi-server"></i>
                <span class="link_name">Menú</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name"></a></li>
            </ul>


        </li>


        <!-- <li *ngFor="let menu of lstMenu; let i = index">
            <a (click)="redirectHome()">
                <i class="pi pi-home"></i>
                <span class="link_name">{{menu.label}}</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">{{menu.label}}</a></li>
            </ul>
        </li> -->


        <!--   SUBMENUS -->
        <!-- <li *ngFor="let menu of lstMenu; let i = index">
            <div class="iocn-link" *ngIf="perfil && menu">
                <a>
                    <i [className]="menu.padImg"></i>
                    <span class="link_name">{{menu.padNombre | titlecase}}</span>
                </a>
                <i class="pi pi-angle-down" (click)="expandir($event)"></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name font-bold">{{menu.padNombre | titlecase}}</a></li>
                <li *ngFor="let item of lstMenuItem ">
                    <a (click)="redirectSubMenu(item)">{{ item.menOpcId?.opcNombre }}</a>
                </li>
            </ul>
        </li> -->

        <li *ngFor="let menu of lstMenu; let i = index">
            <div class="iocn-link">
                <a  routerLinkActive="router-link-active">
                    <i [className]="menu.padImg"></i>
                    <span class="link_name">{{menu.padNombre | titlecase}}</span>
                </a>
                <i class="pi pi-angle-down" (click)="expandir($event)"></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name font-bold">{{menu.padNombre | titlecase}}</a></li>
                <li *ngFor="let item of menu.menPadId ">
                    <a (click)="redirectSubMenu(item)" [routerLink]="[item.padUrl]"
                        routerLinkActive="router-link-active">
                        <i [className]="item.padImg"></i> 
                        <span>{{item.padNombre }}</span>
                    
                    </a>
                </li>
            </ul>
        </li>

    </ul>
</div>