<div class="card">
  <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
          <strong> Convenios</strong>
       </ng-template>
      <ng-template pTemplate="right">
          <span class="p-input-icon-right">
               <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar..." />
          </span>


      </ng-template>

  </p-toolbar>

  <p-table #dt [value]="convenios" [rows]="10" [paginator]="true" [globalFilterFields]="['']"
           styleClass="p-datatable-gridlines p-datatable-sm" [rowHover]="true" dataKey="id" [rowsPerPageOptions]="[10,25,50]" responsiveLayout="scroll" [responsive]="true"
           currentPageReportTemplate="Mostrando {first} hasta {last} de {totalRecords} registros" [showCurrentPageReport]="true">

      <ng-template pTemplate="header">
          <tr>

            <th pSortableColumn="c_stridconvenio" style="width:4% ; font-size: 10px;">ID CONVENIO <p-sortIcon field="code"></p-sortIcon></th>
            <th pSortableColumn="c_strtituloconvenio" style="width:15% ; font-size: 10px;">TÍTULO <p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="c_strnaturalezaconvenio" style="width:4%; font-size: 10px; ">NATURALEZA <p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="c_strclasificacionconvenio" style=" font-size: 10px; width:4%;">CLASIFICACIÓN <p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="c_strnombredependencia" style="width:5%; font-size: 10px;"> DEPENDENCIA<p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="c_blnacademico"style="width:0.5% ; font-size: 5px;" pTooltip="Eje Académico"> ACADÉMICO<p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="c_blninvestigacion" style="width:0.5%; font-size: 5px;" pTooltip="Eje Investigacion"> INVESTIGACIÓN<p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="c_blnpracticas" style="width:0.5%; font-size: 5px;" pTooltip="Eje Prácticas">PRÁCTICAS<p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="c_blnvinculacion" style="width:0.5%; font-size: 5px;" pTooltip="Eje Vinculación">VINCULACIÓN<p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="c_strinstitucion" style="width:10% ; font-size: 9px;">INSTITUCIÓN<p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="c_dtfechainicioconvenio"style="width:3%; font-size: 10px;">INICIO<p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="c_strvigencia" style="width:0.5%; font-size: 8px;">VIGENCIA (Años)<p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="c_fltavanceconvenio" style="width:0.5%; font-size: 8px;">AVANCE<p-sortIcon field="name"></p-sortIcon></th>
            <th class="text-center">Vigente</th>

              <th class="text-center">Archivo</th>
              <th class="text-center">Acción</th>

          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
          <tr>

            <td >{{ item.c_stridconvenio}}</td>
            <td >{{ item.c_strtituloconvenio }}</td>
            <td >{{ item.c_strnaturalezaconvenio }}</td>
            <td >{{ item.c_strclasificacionconvenio }}</td>
            <td >{{ item.c_strnombredependencia }}</td>
            <td  class="text-center">
              <i class="pi" [ngClass]="{'text-green-500 pi-check-circle': item.c_blnacademico === true, 'text-red-500 pi-times-circle': item.c_blnacademico === false }"></i>
            </td>
            <td  class="text-center">
              <i class="pi" [ngClass]="{'text-green-500 pi-check-circle': item.c_blninvestigacion === true, 'text-red-500 pi-times-circle': item.c_blninvestigacion === false }"></i>
            </td>
            <td  class="text-center">
              <i class="pi" [ngClass]="{'text-green-500 pi-check-circle': item.c_blnpracticas === true, 'text-red-500 pi-times-circle': item.c_blnpracticas === false }"></i>
            </td>
            <td  class="text-center">
              <i class="pi" [ngClass]="{'text-green-500 pi-check-circle': item.c_blnvinculacion === true, 'text-red-500 pi-times-circle': item.c_blnvinculacion === false }"></i>
            </td>


            <td >{{ item.c_strinstitucion }}</td>

            <td class="text-center">{{ item.c_dtfechainicioconvenio }}</td>
            <td class="text-center">{{ item.c_strvigencia }}</td>
            <td class="text-center">{{ item.c_fltavanceconvenio !== null ? item.c_fltavanceconvenio : 0 }}%</td>



            <td style="width: 1%;" class="text-center">
              <i class="pi" [ngClass]="{'text-green-500 pi-check-circle': item.vigente === true, 'text-red-500 pi-times-circle': item.vigente === false }" ></i>
            </td>


              <td style="width: 0.8%;">
                  <button pButton type="button"  icon="pi pi-download" label="" class="p-button-secondary" (click)="downloadFile(item)"></button> <!--(click)="downloadFile(item)"-->

              </td>




              <td style="width: 1%;">
                <div style="display: flex;">
                <button pButton pRipple icon="pi pi-eye" class="p-button-rounded mr-2 p-button-success" pTooltip="Información" (click)="verConvenio(item)"  ></button>
                <button pButton pRipple icon="pi pi-info" class="p-button-rounded p-button-secondary" pTooltip="Informes" (click)="redirectListaInformes(item)"></button>


                <button pButton pRipple icon="pi pi-book" class="p-button-rounded " pTooltip="Planificación" (click)="listarPlanificacion(item)"></button>
                <button type="button" pButton pRipple icon="pi pi-file-pdf"   pTooltip="PDF" tooltipPosition="bottom"  (click)="generarPDFid(item)"></button><!--(click)=" generarPDF()"-->


                </div>

              </td>
          </tr>
      </ng-template>
      <ng-template pTemplate="summary">
          <div class="p-d-flex p-ai-center p-jc-between">
            <!-- In total there are {{products ? products.length : 0 }} products.-->
          </div>

      </ng-template>
  </p-table>
  <br><br>
</div>

<!-- <p-toast></p-toast> -->

<p-dialog  [(visible)]="modalVerConvenio" header="{{titulo}}" [modal]="true" styleClass="p-fluid"  [style]="{width: '900px'}" [contentStyle]="{ 'height': '1500px' }" >

  <p-toolbar styleClass="p-mb-4" >
    <ng-template pTemplate="left" >
        <strong> <h3> {{titulo}}</h3>  </strong>
     </ng-template>
    <ng-template pTemplate="right">

      <div class="custom-col">
        <div class="p-field">
          <label for="name" >
            <i class="pi" [ngClass]="{'text-green-500 pi-check-circle': txtVigente === true, 'text-red-500 pi-times-circle': txtVigente === false }">Vigente</i>
          </label>
        </div>
      </div>
      <div class="custom-col">
        <div class="p-field">
          <label for="name">Avance:</label>
          <input  type="text" pInputText id="txtAvance" [(ngModel)]="txtAvance" readonly="true" />

        </div>
      </div>
      <div class="custom-col">
          <div class="p-field">
            <label for="name"></label><br>

            <button type="button" pButton pRipple icon="pi pi-file-pdf"   pTooltip="PDF" tooltipPosition="bottom"  ></button>


          </div>

      </div>

    </ng-template>
  </p-toolbar>

  <ng-template pTemplate="content" class="custom-grid" >
    <h3>Información General</h3>
    <div class="campo" style="width: 20%;">
      <label  for="name">Resolución N:</label>
      <input  type="text" pInputText id="c_stridconvenio" [(ngModel)]="txtResolucion" [readOnly]="true"/>
    </div><br>

    <div class="p-field">
      <label for="name">Título Convenio:</label>
      <input  type="text" pInputText id="c_strnombrescoordinador" [(ngModel)]="txtTituloConvenio" [readOnly]="true" class="width: 100%;" />

    </div><br>
    <div class="p-field">
      <label for="name">Objetivo Convenio:</label>
      <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="txtObjetivo" [readOnly]="true"></textarea>

    </div><br>

    <div>
     <div class="campo" style="width: 20%;">
      <label for="name">CI :<label for="name" ></label></label>

      <div >
        <input  type="text" pInputText id="txtCedula" [(ngModel)]="txtCedula" [readOnly]="true" />
      </div>

     </div>
     <div class="campo" style="width: 80%;">
      <label for="name">Nombre Coordinador/a:</label>
      <input  type="text" pInputText id="txtNombreCoordinador" [(ngModel)]="txtNombreCoordinador" [readOnly]="true" />
     </div>
    </div>

    <div class="custom-row">


      <div class="custom-col">
        <div class="p-field">
          <label for="name">Email:</label>
          <input  type="text" pInputText id="txtEmail" [(ngModel)]="txtEmail" [readOnly]="true" />
        </div>
      </div>

      <div class="custom-col">
        <div class="p-field">
          <label for="name">Teléfono:</label>
          <input  type="text" pInputText id="txtTelefono" [(ngModel)]="txtTelefono" [readOnly]="true" />
        </div>
      </div>
      <div class="custom-col">
        <div class="p-field">
          <label for="name">Dependencia:</label>
          <input  type="text" pInputText id="txtDependencia" [(ngModel)]="txtDependencia" [readOnly]="true" />
        </div>
      </div>
    </div>

    <div class="custom-row">

      <div class="custom-col">
        <div class="p-field">
          <label for="name">Naturaleza:</label>

          <div>
            <input  type="text" pInputText id="txtNaturaleza" [(ngModel)]="txtNaturaleza" [readOnly]="true" />
          </div>
        </div>

      </div>

      <div class="custom-col">
        <div class="p-field">
          <label for="name">Clasificación:</label>

          <div >
            <input  type="text" pInputText id="txtClasificacion" [(ngModel)]="txtClasificacion" [readOnly]="true" />
          </div>
        </div>
      </div>

    </div><br>

    <label for="name">Ejes:</label><br><br>

    <div style="padding: 10px;" class="custom-row">
      <div>
        <input type="checkbox" id="academico"  [(ngModel)]="btnAcademico" [disabled]="true">
        <label for="academico">Académico</label>

      </div>

      <div>
        <input type="checkbox" id="investigacion"  [(ngModel)]="btnInvestigacion" [disabled]="true">
        <label for="investigacion">Investigación</label>
      </div>

      <div>
        <input type="checkbox" id="practicas"  [(ngModel)]="btnPracticas" [disabled]="true">
        <label for="practicas">Prácticas</label>
      </div>

      <div>
        <input type="checkbox" id="vinculacion"  [(ngModel)]="btnVinculacion" [disabled]="true">
        <label for="vinculacion">Vinculación</label>
      </div>

    </div><br>


    <div>
      <div class="campo" style="width: 30%;">
        <label for="name">Instituciones Participantes:</label>
        <input  type="text" pInputText id="txtEspoch" [(ngModel)]="txtEspoch" [readOnly]="true" />
      </div>
      <div class="campo" style="width: 70%;">

        <div>
          <input  type="text" pInputText id="txtInstitucion" [(ngModel)]="txtInstitucion" [readOnly]="true" />
        </div>

      </div>
    </div>


    <h3>Vigencia del convenio y periodo de ejecución</h3>

    <div class="custom-row">

      <div class = "custom-col">
        <div class="p-field" >
          <label for="name">Fecha Inicio:</label>
          <input   type="text" pInputText id="txtFechaInicio" [(ngModel)]="txtFechaInicio" [readOnly]="true"/>
        </div>
      </div>

      <div class="custom-col">
        <div class="p-field" >
          <label for="name">Fecha Fin:</label>
          <input  type="text" pInputText id="txtFechaFin" [(ngModel)]="txtFechaFin" [readOnly]="true"/>

        </div>
      </div>

      <div class="custom-col" >
        <div class="p-field" >
          <label for="name">Vigencia (años):</label>
          <input  type="text" pInputText id="txtVigencia" [(ngModel)]="txtVigencia" [readOnly]="true" />

        </div>
      </div>

      <div class="custom-col">
        <div class="p-field" >
          <label for="name">Razón Informes:</label>

          <div >
            <input type="text" pInputText id=" txtRazon" [(ngModel)]=" txtRazon" readonly />

          </div>
        </div>
      </div>

      <div class="custom-col">
        <div class="p-field">
          <label for="name">Documento:</label>
          <a   class="button hover rounded" >
            <div class="icono-svg">
              <ng-container >
                  <img  src="../../../../../assets//imagenes/Download.png" class="icono">
              </ng-container>
            </div>
          </a>
        </div>


      </div>



    </div>

  </ng-template>

  <ng-template pTemplate="footer">

    <button pButton pRipple label="Cerrar" icon="pi pi-times" class="p-button-text"  (click)="modalVerConvenio=false"></button>


  </ng-template>



</p-dialog>

<p-dialog  [(visible)]="modalVerPlanificacion" header="{{titulo}}" [modal]="true" styleClass="p-fluid"  [style]="{width: '500px'}" [contentStyle]="{ 'height': 'flex' }" >

  <p-table #dt [value]="planificacion" [rows]="10" [paginator]="true" [globalFilterFields]="['']"
  styleClass="p-datatable-gridlines p-datatable-sm" [rowHover]="true" dataKey="id" [rowsPerPageOptions]="[10,25,50]" responsiveLayout="scroll" [responsive]="true">

<ng-template pTemplate="header">
  <div style="display: flex;">
    <label><strong>Convenio :</strong></label>
    <label>{{idConvenio}}</label>
  </div><br>

 <tr>

   <th  style="width:4% ; font-size: 10px;">ID PLANIFICACIÓN </th>
   <th  style="width:15% ; font-size: 10px;">PERIODO ENTREGA INFORME </th>

 </tr>
</ng-template>
<ng-template pTemplate="body" let-item>
 <tr>

   <td >{{ item.intidplanificacion}}</td>
   <td > {{ item.strdescripcion }}</td>

 </tr>
</ng-template>

</p-table>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cerrar" icon="pi pi-times" class="p-button-text"  (click)="modalVerPlanificacion=false"></button>
  </ng-template>
</p-dialog>

<p-dialog  [(visible)]="modalVerArchivo" header="{{titulo}}" [modal]="true" styleClass="p-fluid"  [style]="{width: '800px'}" [contentStyle]="{ 'height': '800px' }" >
  
 <div class="row" *ngIf="safePdfUrl">
   

   <iframe id="pdf" [src]="safePdfUrl" allow="autoplay; encrypted-media" target="Certificado" type="application/pdf" width="100%"
            height="400px" allowfullscreen>
   </iframe>
 </div>
 
 <!-- <ng-template #VerDocumento let-c="close" let-d="dismiss">
 <div class="modal-header widget-header">
   <h4>VER DOCUMENTO</h4>
 </div>
 <div class="modal-body">
   <div class="col-md-12 col-sm-12 col-xs-12">
     <div class="knowledge">
       <h3>
         <a><i class="fa fa-folder"></i>Datos <span class="pull-right"> </span></a>
       </h3>
       <ul class="list-unstyled">
         
       </ul>
     </div>
     <hr />
   </div>
   <div class="row" *ngIf="safePdfUrl">
     <p>Hola</p>
     <div class="text-center col-md-12 col-sm-12 col-xs-12">

     </div>

     <iframe id="pdf" [src]="safePdfUrl" allow="autoplay; encrypted-media" target="Certificado" type="application/pdf" width="100%"
              height="400px" allowfullscreen>
     </iframe>
   </div>
   <div class="text-center col-md-12 col-sm-12 col-xs-12">
     <br />
     <button class="btn btn-default" (click)="modalVerArchivo=false" title="Cancelar">
       <span class="glyphicon glyphicon-remove"> </span> Cerrar
     </button>
   </div>
 </div>
</ng-template> -->

</p-dialog>