<app-pg-header></app-pg-header>
<app-pg-linea></app-pg-linea>

   
    <div style="background-color: aqua; padding: 1%;">
        <h3>Información General</h3><br>

        <div class="p-field">
            <label for="name">Título Convenio:</label>
            <input  type="text" pInputText id="strnombrescoordinador" [(ngModel)]="tituloConvenio" [readOnly]=true class="width: 100%;" />
        </div><br> 
    </div>
        
         
        
          
    


 <div class="tab-menu align-items-center" style="padding-left: 25px; padding-right: 25px;">
    <p-tabView styleClass="tabview-custom"  >
        <p-tabPanel header="INFORMES">
          
        </p-tabPanel>
        

     </p-tabView>
 </div>


<app-pg-footer></app-pg-footer>

