<app-pg-header></app-pg-header>
<app-pg-linea></app-pg-linea>

   
<div class="informacion-general">
    <h3>Información General</h3>
    <div class="grid-container">
        <div class="grid-item"><strong>Título:</strong> {{tituloConvenio}}</div>
        <div class="grid-item"><strong>Institución:</strong> {{txtInstitucion}}</div>
        <div class="grid-item"><strong>Naturaleza:</strong> {{txtNaturaleza}}</div>
        <div class="grid-item"><strong>Clasificación:</strong> {{txtClasificacion}}</div>
        <div class="grid-item">
            <strong>Académico:</strong>
            <i class="pi pi-lg" [ngClass]="{'pi-check-circle': blnAcademico, 'pi-times-circle': !blnAcademico, 'text-green': blnAcademico, 'text-red': !blnAcademico}"></i>
        </div>
        <div class="grid-item">
            <strong>Investigación:</strong>
            <i class="pi pi-lg" [ngClass]="{'pi-check-circle': blnInvestigacion, 'pi-times-circle': !blnInvestigacion, 'text-green': blnInvestigacion, 'text-red': !blnInvestigacion}"></i>
        </div>
        <div class="grid-item">
            <strong>Prácticas:</strong>
            <i class="pi pi-lg" [ngClass]="{'pi-check-circle': blnPracticas, 'pi-times-circle': !blnPracticas, 'text-green': blnPracticas, 'text-red': !blnPracticas}"></i>
        </div>
        <div class="grid-item">
            <strong>Vinculación:</strong>
            <i class="pi pi-lg" [ngClass]="{'pi-check-circle': blnVinculacion, 'pi-times-circle': !blnVinculacion, 'text-green': blnVinculacion, 'text-red': !blnVinculacion}"></i>
        </div>
        
       
        <div class="grid-item"><strong>Fecha de Inicio:</strong> {{dtFechaInicio}}</div>
        <div class="grid-item"><strong>Fecha de Fin:</strong> {{dtFechaFin}}</div>
        
        
        
        
    </div>
</div>



    
        
         

 <div class="tab-menu align-items-center" style="padding-left: 25px; padding-right: 25px;">
    <p-tabView styleClass="tabview-custom"  >
        <p-tabPanel header="INFORMES">
          
        </p-tabPanel>
        
        <app-pg-lista-informes-convenio></app-pg-lista-informes-convenio>
     </p-tabView>
 </div>


<app-pg-footer></app-pg-footer>

