<app-pg-header></app-pg-header>
<app-pg-linea></app-pg-linea>

   
    <div style="padding: 1%;">
        <h3>Información General</h3><br>

        <label>{{tituloConvenio}} </label><br>
        <label>{{txtNaturaleza}}</label><br>
        <label>{{txtClasificacion}}</label><br>
        <label>{{blnAcademico}}</label><br>
        <label>{{blnInvestigacion}}</label><br>
        <label>{{blnPracticas}}</label><br>
        <label>{{blnVinculacion}}</label><br>
        <label>{{dtFechaInicio}}</label><br>
        <label>{{dtFechaFin}}</label><br>
        <label>{{txtInstitucion}}</label><br>
        
    </div>
        
         

 <div class="tab-menu align-items-center" style="padding-left: 25px; padding-right: 25px;">
    <p-tabView styleClass="tabview-custom"  >
        <p-tabPanel header="INFORMES">
          
        </p-tabPanel>
        
        <app-pg-lista-informes-convenio></app-pg-lista-informes-convenio>
     </p-tabView>
 </div>


<app-pg-footer></app-pg-footer>

