
<app-pg-header></app-pg-header>
<app-pg-linea></app-pg-linea>


    <div class="bread flex flex-row"><p-breadcrumb [model]="items" [home]="home" ></p-breadcrumb></div>
    <div class="titulo2">
        <div class="col-12"><h1>Información de Convenioss</h1></div>
     </div>

     <div class="tab-menu align-items-center" style="padding-left: 25px; padding-right: 25px;">
        <p-tabView styleClass="tabview-custom" (onChange)="cambiarSelector($event)"  >
            
            <p-tabPanel header="CONVENIOS">
                <app-pg-lista-convenios-invitado></app-pg-lista-convenios-invitado>
            </p-tabPanel>

         </p-tabView>
     </div>




<app-pg-footer></app-pg-footer>

